<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">

    <title>BABY SHOP</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
                .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

body, html {
  height: 100%;
}

.main{
background-image:url("/images/login.jpg");
min-height: 100%;
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.my-class {
    background: $blue-100;
    backdrop-filter: blur(5px);
}

.nounderline{
text-decoration:none !important;

}

li:hover a {

box-sizing: border-box;
width: 100%;
border: solid #F5F5F5 5px;
padding: 5px;
border-top: 0px;
border-left: 0px;
border-right: 0px;
}

li:hover {
    background: #e3f2fd;;
}

    </style>
</head>
<body>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark w3-bar w3-black" >
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/babylogo.jpg" style="width:50px;" class="rounded-pill">
        </a>
        <a class="navbar-brand" href="/">BABY SHOP</a>

        <div class="collapse navbar-collapse header" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu">
                <li class="nav-item">
                    <a class="nav-link active w3-bar-item w3-button" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  w3-bar-item w3-button" th:href="@{/shop}">Shop</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link  w3-bar-item w3-button" th:href="@{/about}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  w3-bar-item w3-button" th:href="@{/contact}">Contact</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link w3-bar-item w3-button" th:href="@{/cart}">My Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link w3-bar-item w3-button" th:href="@{/orderHistory}">My Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link w3-bar-item w3-button" sec:authorize="isAnonymous()" th:href="@{/login}">Login/Register</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link w3-bar-item w3-button" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="main">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card mt-3">
                <div class="card-header custom-bg" style="background-color: #e3f2fd;">
                    <h2 style="text-center">Login</h2>
                </div>
                <div class="card-body">
                    <form th:action="@{/login}" method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" name="email" id="email" class="form-control" aria-describedby="emailHelp">

                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="password">
                        </div>
                        <div th:if="${param.error}" class="alert alert-error text-danger">
                            Invalid username or password.
                        </div>
                        <div th:if="${param.error}" class="alert alert-error text-danger">
                            Invalid username or password.
                        </div>
                        <input type="submit" value="Login" class="btn btn-primary btn-block">
                        <br><br>
                        <span >Don't have an account ?<a class="linkControl nounderline" href="./register.html"
                                                        th:href="@{/register}"> Register here</a></span>
                        <br>
<!--                        <a href="" th:href="@{/forgotpassword}">Forgot password ?</a>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


</html>